<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.tococh.user.mapper.UserMapper">

	<select id="selectUserList" resultType="Map">
		SELECT
			USER_CODE,
			USER_NM,
			GET_CODE_NAME('CH010',GENDER) AS GENDER,
			GET_CODE_NAME('CH002',ZONE) AS ZONE,
			GET_CODE_NAME('CH011',DEPT) AS DEPT,
			BIRTHDAY,
			MOBILE,
			EMAIL,
			GET_CODE_NAME('CH003',BAPTISM) AS BAPTISM,
			GET_CODE_NAME('CH004',DUTY) AS DUTY,
			GUIDE,
			ZIPCODE,
			ADDRESS,
			PHONE,
			COMP_ZIPCODE,
			COMP_ADDRESS,
			COMP_PHONE,
			COMP_NM,
			COMP_POSITION,
			RMK,
			CR_ID,
			CR_DT,
			UP_ID,
			UP_DT
		FROM
			CH_USER
		WHERE 1=1
		<if test='SCH_USERNM != null and SCH_USERNM !=""'>
			AND  USER_NM LIKE CONCAT('%' , #{SCH_USERNM} ,'%')
		</if>
		<if test='SCH_USERCODE != null and SCH_USERCODE !=""'>
			AND  USER_CODE LIKE CONCAT('%' , #{SCH_USERCODE} , '%')
		</if>
		ORDER BY USER_NM ASC
	</select>
	
	<select id="selectOneUser" resultType="Map">
		SELECT
			USER_CODE,
			USER_NM,
			GENDER,
			ZONE,
			DEPT,
			BIRTHDAY,
			MOBILE,
			EMAIL,
			BAPTISM,
			DUTY,
			GUIDE,
			ZIPCODE,
			ADDRESS,
			PHONE,
			COMP_ZIPCODE,
			COMP_ADDRESS,
			COMP_PHONE,
			COMP_NM,
			COMP_POSITION,
			RMK,
			CR_ID,
			CR_DT,
			UP_ID,
			UP_DT
		FROM
			CH_USER
		WHERE 1=1
			AND  USER_CODE  =  #{SRCH_USER_CODE}
	</select>

	<insert id="insertUserInfo">
		INSERT INTO CH_USER
		(
			USER_CODE, 	USER_NM, GENDER, ZONE, DEPT, BIRTHDAY,
			MOBILE,	EMAIL,	BAPTISM,	DUTY,	GUIDE,
			ZIPCODE,	ADDRESS,	PHONE,	COMP_ZIPCODE,	COMP_ADDRESS,
			COMP_PHONE,	COMP_NM,	COMP_POSITION,	RMK,
			CR_ID,	CR_DT
		)
		VALUES
		(
			(SELECT USER_CODE FROM(SELECT CONCAT('CU',LPAD(IFNULL(SUBSTR(MAX(USER_CODE),3,4),0) + 1, 4, 0)) AS USER_CODE FROM CH_USER) A), 	
			#{frm_user_nm}, 				IFNULL(#{frm_gender},''), 		IFNULL(#{frm_zone},''), 		IFNULL(#{frm_dept},''), IFNULL(#{frm_birthday},''),
			IFNULL(#{frm_mobile},''),		IFNULL(#{frm_email},''),		IFNULL(#{frm_baptism},''),			IFNULL(#{frm_duty},''),			IFNULL(#{frm_guide},''),
			IFNULL(#{frm_zipcode},''),		IFNULL(#{frm_address},''),		IFNULL(#{frm_phone},''),			IFNULL(#{frm_comp_zipcode},''),	IFNULL(#{frm_comp_address},''),
			IFNULL(#{frm_comp_phone},''),	IFNULL(#{frm_comp_nm},''),		IFNULL(#{frm_comp_position},''),	IFNULL(#{frm_rmk},''),
			IFNULL(#{SESS_EMAIL},'TEST'),	NOW()
		);
	</insert>

	<update id="updateUserInfo">
		UPDATE CH_USER SET
			USER_NM 		=  CASE WHEN #{frm_user_nm} != '' THEN #{frm_user_nm}  ELSE USER_NM END,
			GENDER 			=  CASE WHEN #{frm_gender} != '' THEN #{frm_gender}  ELSE GENDER END,
			ZONE 			=  CASE WHEN #{frm_zone} != '' THEN #{frm_zone}  ELSE ZONE END,
			DEPT 			=  CASE WHEN #{frm_dept} != '' THEN #{frm_dept}  ELSE DEPT END,
			BIRTHDAY 		=  CASE WHEN #{frm_birthday} != '' THEN #{frm_birthday}  ELSE BIRTHDAY END,
			MOBILE 			=  CASE WHEN #{frm_mobile} != '' THEN #{frm_mobile}  ELSE MOBILE END,
			EMAIL 			=  CASE WHEN #{frm_email} != '' THEN #{frm_email}  ELSE EMAIL END,
			BAPTISM 		=  CASE WHEN #{frm_baptism} != '' THEN #{frm_baptism}  ELSE BAPTISM END,
			DUTY 			=  CASE WHEN #{frm_duty} != '' THEN #{frm_duty}  ELSE DUTY END,
			GUIDE 			=  CASE WHEN #{frm_guide} != '' THEN #{frm_guide}  ELSE GUIDE END,
			ZIPCODE 		=  CASE WHEN #{frm_zipcode} != '' THEN #{frm_zipcode}  ELSE ZIPCODE END,
			ADDRESS 		=  CASE WHEN #{frm_address} != '' THEN #{frm_address}  ELSE ADDRESS END,
			PHONE 			=  CASE WHEN #{frm_phone} != '' THEN #{frm_phone}  ELSE PHONE END,
			COMP_ZIPCODE 	=  CASE WHEN #{frm_comp_zipcode} != '' THEN #{frm_comp_zipcode}  ELSE COMP_ZIPCODE END,
			COMP_ADDRESS 	=  CASE WHEN #{frm_comp_address} != '' THEN #{frm_comp_address}  ELSE COMP_ADDRESS END,
			COMP_PHONE 		=  CASE WHEN #{frm_comp_phone} != '' THEN #{frm_comp_phone}  ELSE COMP_PHONE END,
			COMP_NM 		=  CASE WHEN #{frm_comp_nm} != '' THEN #{frm_comp_nm}  ELSE COMP_NM END,
			COMP_POSITION 	=  CASE WHEN #{frm_comp_position} != '' THEN #{frm_comp_position}  ELSE COMP_POSITION END,
			RMK 			=  CASE WHEN #{frm_rmk} != '' THEN #{frm_rmk}  ELSE RMK END,
			UP_ID 			= #{SESS_EMAIL},
			UP_DT 			= NOW()
		WHERE
			USER_CODE = #{frm_user_code}
	</update>
	
	<delete id="deleteUserInfo">
		DELETE FROM CH_USER
		WHERE USER_CODE = #{frm_user_code}
	</delete>


	<select id="getFamilyList" resultType="Map">
		SELECT * FROM CH_FAMILY
		WHERE FAMILY_CODE = #{FAMILY_CODE}
		ORDER BY CR_DT 
	</select>

	<insert id="insertFamilyInfo">
		INSERT INTO CH_FAMILY(
			FAMILY_CODE, USER_CODE, USER_NM, RELATION, GENDER, 
			BIRTHDAY, MOBILE, BAPTISM, DUTY, RMK, 
			CR_ID, CR_DT
		) VALUES (
			#{FAMILY_CODE}, #{USER_CODE}, #{USER_NM}, #{RELATION}, #{GENDER}, 
			#{BIRTHDAY}, #{MOBILE}, #{BAPTISM}, #{DUTY}, #{RMK}, 
			#{SESS_EMAIL}, NOW()
		);
	</insert>

	<update id="updateFamilyInfo">
		UPDATE CH_FAMILY SET
			RELATION =#{RELATION} ,
			GENDER =#{GENDER} ,
			BIRTHDAY =#{BIRTHDAY} ,
			MOBILE =#{MOBILE} ,
			BAPTISM =#{BAPTISM} ,
			DUTY =#{DUTY} ,
			RMK =#{RMK} ,
			UP_ID = #{SESS_EMAIL},
			UP_DT = now()
		WHERE FAMILY_CODE = #{FAMILY_CODE}
		AND USER_CODE = #{USER_CODE} 
		AND USER_NM = #{USER_NM} 
	</update>
	
	<delete id="deleteFamilyInfo">
		DELETE FROM CH_FAMILY
		WHERE FAMILY_CODE = #{FAMILY_CODE}
		AND USER_CODE = #{USER_CODE}
		AND USER_NM = #{USER_NM}  
	</delete>
	
	<select id="selectPrayList" resultType="Map">
		SELECT
			A.PRNO,
			A.USER_CODE,
			A.USER_NM,
			A.GUBUN,
			GET_CODE_NAME('CH007',A.GUBUN) AS GUBUN_NM,
			A.STATUS,
			GET_CODE_NAME('CH008',A.STATUS) AS STATUS_NM,
			A.SUBJECT,
			A.SDATE,
			A.EDATE,
			A.MEMO,
			A.CR_DT,
			A.CR_ID,
			A.UP_DT,
			A.UP_ID,
			(SELECT COUNT(C.DTNO) FROM CH_PRAYER_DT C WHERE C.PRNO =A.PRNO ) AS DT_CNT,
			(@ROWNUM:=@ROWNUM+1) AS ROW_NO
		FROM CH_PRAYER A ,
			(SELECT @ROWNUM:=0 FROM DUAL) B
		WHERE 1=1
		<if test='srch_gubun != null and srch_gubun !=""'>
			AND  A.GUBUN = #{srch_gubun}
		</if>
		<if test='srch_status != null and srch_status !=""'>
			AND  A.STATUS = #{srch_status}
		</if>
		<if test='scrh_user_nm != null and scrh_user_nm !=""'>
			AND  A.USER_NM LIKE CONCAT('%' , #{scrh_user_nm} , '%')
		</if>
		<if test='scrh_subject != null and scrh_subject !=""'>
			AND  A.USER_SUBJECT LIKE CONCAT('%' , #{scrh_subject} , '%')
		</if>
		<if test='srch_prno != null and srch_prno !=""'>
			AND  A.PRNO = #{srch_prno}
		</if>
		ORDER BY A.PRNO DESC
	</select>
	
	<insert id="insertPrayData">
		INSERT INTO CH_PRAYER (
			USER_CODE,
			USER_NM,
			GUBUN,
			STATUS,
			SUBJECT,
			SDATE,
			EDATE,
			MEMO,
			CR_DT,
			CR_ID
		) VALUES(
			#{frm_user_code},
			#{frm_user_nm},
			#{frm_gubun},
			#{frm_status},
			#{frm_subject},
			#{frm_sdate},
			CASE WHEN #{frm_edate} = '' THEN NULL ELSE #{frm_edate} END,
			#{frm_memo},
			now(),
			#{SESS_EMAIL}
		)
	</insert>

	<update id="updatePrayData">
		UPDATE CH_PRAYER SET
			USER_CODE = #{frm_user_code},
			USER_NM = #{frm_user_nm},
			GUBUN = #{frm_gubun},
			STATUS = #{frm_status},
			SUBJECT = #{frm_subject},
			SDATE = #{frm_sdate},
			EDATE = CASE WHEN #{frm_edate} = '' THEN NULL ELSE #{frm_edate} END,
			MEMO = #{frm_memo},
			UP_DT = now(),
			UP_ID = #{SESS_EMAIL}
		WHERE
			PRNO = #{frm_prno}
	</update>
	
	<delete id="deletePrayData">
		DELETE FROM CH_PRAYER
		WHERE PRNO = #{frm_prno}
	</delete>
	
	<select id="selectPrayDtList" resultType="Map">
		SELECT
			A.DTNO,
			A.PRNO,
			A.MEMO,
			<![CDATA[
			REPLACE(A.MEMO,'\n','<br>') AS MEMO_VIEW,
			]]>
			IFNULL(A.UP_DT,A.CR_DT) AS UP_DT,
			GET_USER_NM('M',IFNULL(A.UP_ID,A.CR_ID)) AS UP_ID,
			(@ROWNUM:=@ROWNUM+1) AS ROW_NO
		FROM CH_PRAYER_DT A,
			(SELECT @ROWNUM:=0 FROM DUAL) B
		WHERE 1=1
			AND  A.PRNO = #{srch_prno}
		ORDER BY A.DTNO DESC
	</select>
	
	<insert id="insertPrayDtData">
		INSERT INTO CH_PRAYER_DT (
			PRNO,
			MEMO,
			CR_DT,
			CR_ID
		) VALUES(
			#{frm_dt_prno},
			#{frm_dt_memo},
			now(),
			#{SESS_EMAIL}
		)
	</insert>

	<update id="updatePrayDtData">
		UPDATE CH_PRAYER_DT SET
			MEMO = #{frm_dt_memo},
			UP_DT = now(),
			UP_ID = #{SESS_EMAIL}
		WHERE DTNO = #{frm_dt_dtno}
		AND PRNO = #{frm_dt_prno}
	</update>
	
	<delete id="deletePrayDtData">
		DELETE FROM CH_PRAYER_DT
		WHERE DTNO = #{frm_dt_dtno}
		AND PRNO = #{frm_dt_prno}
	</delete>
	
	<select id="getUserCodeData">
		SELECT 
			USER_CODE AS CODE,
			USER_NM AS CODE_NM
		FROM CH_USER
	</select>
	
</mapper>