<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.tococh.member.mapper.MemberMapper">

	<select id="selectManagerList" resultType="Map">
		SELECT 
			USER_EMAIL, '****' AS USER_PW, USER_NM, MOBILE, 
			MENU_CTR,
			MENU_CTR_NM, 
			DATE_FORMAT(LAST_LOGIN, '%Y-%m-%d') AS LAST_LOGIN, 
			PW_FAIL, 
			DATE_FORMAT(CR_DT, '%Y-%m-%d') AS CR_DT, 
			GET_USER_NM('M',CR_ID) AS CR_ID, 
			DATE_FORMAT(UP_DT, '%Y-%m-%d') AS UP_DT, 
			GET_USER_NM('M',UP_ID) AS UP_ID
		FROM CH_MEMBER
		WHERE 1=1
		<if test='SRCH_EMAIL != null and SRCH_EMAIL !=""'>
			AND  USER_EMAIL LIKE CONCAT('%' , #{SRCH_EMAIL} ,'%')
		</if>
		<if test='SRCH_USERNM != null and SRCH_USERNM !=""'>
			AND  USER_NM LIKE CONCAT('%' , #{SRCH_USERNM} , '%')
		</if>
	</select>

	<insert id="insertManagerInfo">
		INSERT INTO CH_MEMBER
		(USER_EMAIL, USER_PW, USER_NM, MOBILE,  MENU_CTR, MENU_CTR_NM, CR_DT, CR_ID)
		VALUES(#{USER_EMAIL}, #{USER_PW}, #{USER_NM}, #{MOBILE}, #{MENU_CTR}, #{MENU_CTR_NM}, NOW(), #{SESS_EMAIL});
	</insert>

	<update id="updateManagerInfo">
		UPDATE CH_MEMBER
		SET 
		USER_PW 	= CASE WHEN #{USER_PW} != '****' THEN #{USER_PW}  ELSE USER_PW END,
		USER_NM		= #{USER_NM}, 
		MOBILE		= #{MOBILE}, 
		MENU_CTR	= #{MENU_CTR}, 
		MENU_CTR_NM	= #{MENU_CTR_NM}, 
		PW_FAIL		= #{PW_FAIL}, 
		UP_DT		= NOW(), 
		UP_ID		= #{SESS_EMAIL}
		WHERE USER_EMAIL = #{USER_EMAIL}
	</update>
	
	<delete id="deleteManagerInfo">
		DELETE FROM CH_MEMBER
		WHERE USER_EMAIL = #{USER_EMAIL}
	</delete>

	<select id="loginProc" resultType="Map">
		SELECT * FROM CH_MEMBER
		WHERE USER_EMAIL = #{USER_EMAIL}
	</select>

	<update id="updateLastLogin">
		UPDATE CH_MEMBER SET
		LAST_LOGIN = NOW(), 
		UP_DT		= NOW(), 
		UP_ID		= #{SESS_EMAIL}
		WHERE USER_EMAIL = #{USER_EMAIL}
	</update>


</mapper>