<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.tococh.finance.mapper.FinanceMapper">

	<select id="searchFinanceList" resultType="Map">
		SELECT
			A.FNNO,
			A.GUBUN,
			GET_CODE_NAME('CH012',A.GUBUN) AS GUBUN_NM,
			A.CATEGORY,
			GET_CODE_NAME(CASE WHEN A.GUBUN ='FN010' THEN 'CH005' ELSE 'CH006' END , A.CATEGORY) AS CATEGORY_NM,
			A.SUB_MEMO,
			A.FNDATE,
			CAST(CASE WHEN A.GUBUN ='FN010' THEN A.MONEY ELSE 0 END AS UNSIGNED) AS IN_MONEY,
			CAST(CASE WHEN A.GUBUN ='FN020' THEN A.MONEY ELSE 0 END AS UNSIGNED) AS OUT_MONEY,
			@BF_SUM := @BF_SUM + CASE WHEN GUBUN ='FN020' THEN A.MONEY * -1 ELSE A.MONEY END  AS REST_MONEY, /*누적합계*/
			A.MONEY,
			A.MEMO,
			A.OFFERTORY_DATE,
			A.DEL_YN,
			A.DEL_ID,
			A.CR_ID,
			A.CR_DT,
			A.UP_ID,
			A.UP_DT
		FROM CH_FINANCE A,
			(SELECT @PARTITION:='', @BF_SUM:=0 ,@ROWNUM:=0 FROM DUAL) B
		WHERE 1=1
		<if test='srch_gubun != null and srch_gubun !=""'>
			AND A.GUBUN =  #{srch_gubun}
		</if>
		<if test='srch_category != null and srch_category !=""'>
			AND A.CATEGORY =  #{srch_category}
		</if>
		<if test='srch_date != null and srch_date !=""'>
			AND DATE_FORMAT(A.FNDATE, '%Y-%m') =  #{srch_date}
		</if>
		<if test='srch_sub_memo != null and srch_sub_memo !=""'>
			AND  A.SUB_MEMO =  #{srch_sub_memo}
		</if>
		AND A.DEL_YN='N'
		ORDER BY A.FNDATE ASC, A.FNNO ASC
	</select>

	<insert id="insertFinanceData">
		INSERT INTO CH_FINANCE
		(
			GUBUN,
			CATEGORY,
			SUB_MEMO,
			FNDATE,
			MONEY,
			MEMO,
			DEL_YN,
			DEL_ID,
			CR_ID,
			CR_DT
		) VALUES(
			#{GUBUN},
			#{CATEGORY},
			#{SUB_MEMO},
			#{FNDATE},
			#{MONEY},
			#{MEMO},
			'N',
			#{DEL_ID},
			#{SESS_EMAIL},
			NOW()
		)
	</insert>

	<update id="updateFinaceData">
		UPDATE CH_FINANCE SET
			GUBUN = #{GUBUN},
			CATEGORY = #{CATEGORY},
			SUB_MEMO = #{SUB_MEMO},
			FNDATE = #{FNDATE},
			MONEY = #{MONEY},
			MEMO = #{MEMO},
			UP_ID = #{SESS_EMAIL},
			UP_DT = NOW()
		WHERE
			FNNO = #{FNNO}
	</update>
	
	<delete id="deleteFinanceData">
		UPDATE CH_FINANCE SET 
			DEL_YN ='Y',
			UP_DT = NOW()
		WHERE
			FNNO = #{FNNO}
	</delete>

	<select id="searchMngFinanceList" resultType="Map">
		SELECT
			A.FNNO,
			A.GUBUN,
			GET_CODE_NAME('CH012',A.GUBUN) AS GUBUN_NM,
			A.CATEGORY,
			GET_CODE_NAME(CASE WHEN A.GUBUN ='FN010' THEN 'CH005' ELSE 'CH006' END , A.CATEGORY) AS CATEGORY_NM,
			A.SUB_MEMO,
			A.FNDATE,
			CAST(CASE WHEN A.GUBUN ='FN010' THEN A.MONEY ELSE 0 END AS UNSIGNED) AS IN_MONEY,
			CAST(CASE WHEN A.GUBUN ='FN020' THEN A.MONEY ELSE 0 END AS UNSIGNED) AS OUT_MONEY,
			@BF_SUM := @BF_SUM + CASE WHEN GUBUN ='FN020' THEN A.MONEY * -1 ELSE A.MONEY END  AS REST_MONEY, /*누적합계*/
			A.MONEY,
			A.MEMO,
			A.OFFERTORY_DATE,
			A.DEL_YN,
			A.DEL_ID,
			A.CR_ID,
			A.CR_DT,
			A.UP_ID,
			A.UP_DT
		FROM CH_FINANCE A,
			(SELECT @PARTITION:='', @BF_SUM:=0 ,@ROWNUM:=0 FROM DUAL) B
		WHERE 1=1
		<if test='srch_gubun != null and srch_gubun !=""'>
			AND A.GUBUN =  #{srch_gubun}
		</if>
		<if test='srch_category != null and srch_category !=""'>
			AND A.CATEGORY =  #{srch_category}
		</if>
		<if test='srch_financeDateFrom != null and srch_financeDateFrom !=""'>
			AND FNDATE >=  #{srch_financeDateFrom}
		</if>
		<if test='srch_financeDateTo != null and srch_financeDateTo !=""'>
			AND FNDATE <![CDATA[ <= ]]> #{srch_financeDateTo}
		</if>
		<if test='srch_subMemo != null and srch_subMemo !=""'>
			AND  A.SUB_MEMO like CONCAT('%' , #{srch_subMemo} , '%')
		</if>
		AND A.DEL_YN='N'
		ORDER BY A.FNDATE ASC, A.FNNO ASC
	</select>

</mapper>